@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.news-article-container {
    display: flex;
    flex-direction: column;
}

.news-article-container a {
    padding-top: 8px;
    padding-bottom: 8px;
}
.news-article-container hr {
    margin: 0px;
}

.news-article {
    border-radius: 4px;
    margin: 0 -30px;
    padding: 30px;
    position: relative;
}
.news-article-item {
    display: flex;
    flex-direction: row;
    min-height: 135px;
    justify-content: space-between;
}

.news-article-text-section {
    margin: 4px 0;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    margin-bottom: 2px;
    /* box-sizing: inherit; */
}
.article:hover {
    background-color: rgb(54, 54, 54);
}

.news-article-text-section h3,
h4 {
    letter-spacing: -0.1px;
    line-height: 25px;
    font-size: 1em;
}

.search-bar-dropdown {
    padding-left: 15px;
}

.news-article-text-section p {
    font-size: 0.8em;
}

.news-article-img-top {
    height: 9rem;
    width: 12rem;
    margin: auto;
    padding-left: 5px;
}

h3 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
.nav-title {
    color: black;
}

.table {
    color: white;
    background-color: rgb(20, 20, 20);
    box-shadow: none;
    outline: none;
}
.card {
    color: white;
    height: 22rem;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 1200px) {
    .carousel-container {
        display: none;
    }
}

.carousel-container {
    width: "50%";
    height: "auto";
}

.diagram {
    margin: auto;
}

.card-img-top {
    height: 10rem;
    width: 10rem;
    filter: invert(100%);
    margin: auto;
}

.card-body {
    text-align: center;
}

.new-line {
    white-space: pre-line;
}

@media screen and (max-width: 390px) {
    /* .stock-chart {
        /* height: 20em; */
}

.stock-chart {
    height: 40vh;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: rgba(121, 121, 121, 0.253);
    color: #ffffff;
}
.position-row {
    padding-top: 5px;
}
.dev {
    padding: 1em;
}

.tool {
    height: 70px;
    margin: 20px;
}

.offcanvas {
    padding: 0;
    border-left: 0 !important;
}

td,
th {
    vertical-align: middle;
    text-align: center;
}
@media (max-width: 486px) {
    .ovrflw {
        flex-direction: column;
    }
}

.home,
.dashboard,
.transactions,
.logout,
.stock,
.login,
.confirmation,
.watchlist {
    display: flex;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: rgb(20, 20, 20);
    color: #fff;
    padding-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#offcanvasBUY,
#offcanvasART,
#offcanvasSELL {
    background-color: #000;
}

#close-sell-form {
    color: white;
}

.searchbar {
    width: 50wh;
}

/* Navbar CSS */
.navbar {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#nav-title {
    position: fixed;
    right: 2em;
}

.menu-bars {
    margin-left: 1.5rem;
    padding-bottom: 10px;
    font-size: 2rem;
    background: none;
    color: #000;
    z-index: 1;
}

.nav-menu {
    background-color: #ffffff;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 1;
}

.carousel {
    width: 50vw;
    height: 66vh;
    margin: auto;
}

.carouselimg {
    width: 50vw;
    height: 66vh;
    margin: auto;
}

.nav-menu.active {
    left: 0;
    transition: 450ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #151414;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

nav a {
    text-decoration: none;
    color: #151414;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px, 16px 0px, 16px;

    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #000000;
    color: #fff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}
